{% extends "login/base.html" %}

{% block content %}
    {% if courses %}
        {% for course in courses %}
            {% if prof %}
                <ul><li>
                    <a href="{% url "prof-coursedetail" course.pk %}">{{ course.course_name }}</a>
                    <a href="{% url "add-students" course.pk %}"><button>Add Students to {{ course.course_name }}</button></a>
                </li></ul>
            {% else %}
                <ul><li>
                    <a href="{% url "stu-coursedetail" course.course.pk %}">{{ course.course.course_name }}</a>
                    <br>
                </li></ul>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>You have not enrolled in any courses yet.Join some courses and you can see them here.</p>
    {% endif %}

    
    <br>
{% endblock content %}